$blue: #53a6ff;
$bdcolor: #eee;
$grey: #888;
$bgcolor: #f1f0f0;
$black: #323232;
$fontcolor: #646464;
$images: "/src/assets/images/";
@function rem($px) {
  $default-font-size: 75px;
  @return ($px / $default-font-size) + rem;
}
@mixin icon($w: 30px, $h: 30px) {
  display: inline-block;
  width: $w;
  height: $h;
  background-size: 100%;
  background-repeat: no-repeat;
  vertical-align: middle;
}
// .rooterEle {
//   min-height: 100%;
//   background-color: $bgcolor;
//   box-sizing: border-box;
// }
.rooterEle2 {
  padding-bottom: rem(100px);
  min-height: 100%;
  background-color: $bgcolor;
  box-sizing: border-box;
}
.rooterEle {
  padding-top: rem(88px);
  height: 100%;
  background-color: $bgcolor;
  box-sizing: border-box;
}
.wrap {
  padding-left: rem(24px);
  padding-right: rem(24px);
}
.form-control {
  width: 100%;
}
.link {
  color: $blue;
}
.flex {
  display: flex;
  align-items: center;
  .rest {
    flex: 1;
  }
}
.avatar-wrap {
  display: inline-block;
  //   padding-right: rem(10px);
}
.avatar {
  width: rem(60px);
  height: rem(60px);
  border-radius: 50%;
  vertical-align: middle;
}
.inblock {
  display: inline-block;
}
.btn-red {
  display: inline-block;
  padding: rem(16px) rem(28px);
  color: #fff;
  background-color: #f94b4b;
  border-radius: 5px;
  box-shadow: 0 0 5px #f94b4b;
}
.footer-btn {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: rem(100px);
  line-height: rem(100px);
  text-align: center;
  color: #fff;
  font-size: rem(32px);
  background-color: $blue;
}
.footer-btn2 {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  height: rem(100px);
  line-height: rem(100px);
  text-align: center;
  color: #fff;
  font-size: rem(32px);
  background-color: $blue;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.leave {
  .el-upload--picture-card {
    width: rem(98px);
    height: rem(98px);
    line-height: rem(96px);
    i {
      font-size: rem(28px);
    }
  }
  .el-upload-list--picture-card .el-upload-list__item {
    width: rem(98px);
    height: rem(98px);
  }
}
.contain {
  padding-left: rem(30px);
  padding-right: rem(30px);
}
.textAlignLeft {
  text-align: left;
}
.textAlignRight {
  text-align: right;
}
.btn-blue-lg {
  height: rem(102px);
  line-height: rem(102px);
  font-size: 17px;
  color: #f9fafe;
  letter-spacing: 0.2px;
  text-align: center;
  background-image: linear-gradient(-180deg, #599ffe 0%, #3158e0 100%);
  border-radius: rem(4px);
}
.require {
  &:after {
    content: "*";
    color: #fb4b4b;
  }
}
input {
  width: 100%;
  border: none;
  outline: none;
}
.title-lines {
  &::before,
  &::after {
    content: "";
    display: inline-block;
    width: rem(32px);
    height: rem(2px);
    vertical-align: middle;
    background: #2b2b2b;
  }
}
.title-line-left {
  &::before {
    content: "";
    display: inline-block;
    width: rem(4px);
    height: rem(30px);
    background: #4d7bff;
  }
}
.notepaper {
  position: relative;
  margin-top: rem(20px);
  background: #fff;
  .title {
    font-size: rem(32px);
    color: #020202;
    height: rem(90px);
    line-height: rem(90px);
    text-align: center;
    border-bottom: rem(1px) solid #eee;
  }
  &::before,
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: rem(80px);
    width: rem(20px);
    height: rem(20px);
    border-radius: 50%;
    background: $bgcolor;
  }
  &::before {
    left: rem(-10px);
  }
  &::after {
    right: rem(-10px);
  }
  .blue {
    color: #4d7bff;
  }
}
.nomore {
  padding: rem(20px) 0;
  font-size: rem(30px);
  color: #999999;
  text-align: center;
}
.tag-blue {
  font-size: rem(20px);
  color: #4d7bff;
  opacity: 0.51;
  background: #d6e1ff;
  border-radius: rem(4px);
}
.tag-red {
  font-size: rem(20px);
  color: #fb4b4b;
  opacity: 0.51;
  background: #ffd5d5;
  border-radius: rem(4px);
}
.tag-orange {
  font-size: rem(20px);
  color: #ff8626;
  opacity: 0.51;
  background: #ffe8d5;
  border-radius: rem(4px);
}
