.logo-horizontal {
  background-image: url("../images/logo-horizontal@3x.png");
}
.rectangle24 {
  background-image: url("../images/Rectangle26@3x.png");
}
.login-bg {
  background-image: url("../images/login-bg.jpg");
}
.icon-eye-close {
  background-image: url("../images/icon-eye-close@3x.png");
}
.icon-go {
  background-image: url("../images/icon-go@3x.png");
}
.font-jinrong {
  background-image: url("../images/font-jinrong@3x.png");
}
.font-xiaotiao {
  background-image: url("../images/font-xiaotiao@3x.png");
}
.icon-car {
  background-image: url("../images/icon-car@3x.png");
}
.icon-house {
  background-image: url("../images/icon-house@3x.png");
}
.icon-card {
  background-image: url("../images/icon-card@3x.png");
}
.icon-client {
  background-image: url("../images/icon-client@3x.png");
}
.icon-home {
  background-image: url("../images/icon-home@3x.png");
}
.icon-home-active {
  background-image: url("../images/icon-home-active@3x.png");
}
.icon-search {
  background-image: url("../images/icon-search@3x.png");
}
.icon-search-active {
  background-image: url("../images/icon-search-active@3x.png");
}
.icon-system {
  background-image: url("../images/icon-system@3x.png");
}
.icon-system-active {
  background-image: url("../images/icon-system-active@3x.png");
}
.icon-user {
  background-image: url("../images/icon-user@3x.png");
}
.icon-user-active {
  background-image: url("../images/icon-user-active@3x.png");
}
.icon-report {
  background-image: url("../images/icon-report@3x.png");
}
.icon-calendar {
  background-image: url("../images/icon-calendar@3x.png");
}
.icon-seal {
  background-image: url("../images/icon-seal@3x.png");
}
.icon-touch {
  background-image: url("../images/icon-touch@3x.png");
}
.icon-signin {
  background-image: url("../images/icon-signin@3x.png");
}
.icon-offwork {
  background-image: url("../images/icon-offwork@3x.png");
}
.icon-out {
  background-image: url("../images/icon-out@3x.png");
}
.icon-overtime {
  background-image: url("../images/icon-overtime@3x.png");
}
.icon-dayly {
  background-image: url("../images/icon-dayly@3x.png");
}
.icon-weekly {
  background-image: url("../images/icon-weekly@3x.png");
}
.icon-monthly {
  background-image: url("../images/icon-monthly@3x.png");
}
.icon-evaluation {
  background-image: url("../images/icon-evaluation@3x.png");
}
.icon-creditcard {
  background-image: url("../images/icon-creditcard@3x.png");
}
.icon-illegal {
  background-image: url("../images/icon-illegal@3x.png");
}
.icon-insurance-car {
  background-image: url("../images/icon-insurance-car@3x.png");
}
.icon-housing-fund {
  background-image: url("../images/icon-housing-fund@3x.png");
}
.icon-insurance {
  background-image: url("../images/icon-insurance@3x.png");
}
.icon-electric {
  background-image: url("../images/icon-electric@3x.png");
}
.icon-fire {
  background-image: url("../images/icon-fire@3x.png");
}
.icon-water {
  background-image: url("../images/icon-water@3x.png");
}
.icon-recharge {
  background-image: url("../images/icon-recharge@3x.png");
}
.icon-back {
  background-image: url("../images/icon-back@3x.png");
}
.icon-edit {
  background-image: url("../images/icon-edit@3x.png");
}
.icon-arrow-right-active {
  background-image: url("../images/icon-arrow-right-active@3x.png");
}
.icon-arrow-right {
  background-image: url("../images/icon-arrow-right@3x.png");
  background-size:contain;
  background-repeat: no-repeat;
}
.icon-arrow-down {
  background-image: url("../images/icon-arrow-down@3x.png");
}
.icon-arrow-white{
  background-image: url("../images/icon-arrow-white.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.icon-checked {
  background-image: url("../images/icon-checked@3x.png");
}
.icon-chart {
  background-image: url("../images/icon-chart@3x.png");
}
.icon-user-upload {
  background-image: url("../images/icon-user-upload@3x.png");
}
.icon-arrow-right-black {
  background-image: url("../images/icon-arrow-right-black@3x.png");
}
.icon-add {
  background-image: url("../images/icon-add@3x.png");
}
.icon-map-wait {
  background-image: url("../images/icon-map-wait@3x.png");
}
.icon-success {
  background-image: url("../images/icon-success@3x.png");
}
.icon-dashboard {
  background-image: url("../images/icon-dashboard@3x.png");
}
.icon-pannel {
  background-image: url("../images/icon-pannel@3x.png");
}
.font-qiang {
  background-image: url("../images/font-qiang@3x.png");
}
.icon-phone {
  background-image: url("../images/icon-phone@3x.png");
}
.icon-money {
  background-image: url("../images/icon-money@3x.png");
}
.icon-piggy {
  background-image: url("../images/icon-piggy@3x.png");
}
.icon-tick {
  background-image: url("../images/icon-tick@3x.png");
}
.icon-phone2 {
  background-image: url("../images/icon-phone2@3x.png");
}
.icon-clock-red {
  background-image: url("../images/icon-clock-red@3x.png");
}
.icon-clock-yellow {
  background-image: url("../images/icon-clock-yellow@3x.png");
}
.icon-arrow-left-black {
  background-image: url("../images/icon-arrow-left-black@3x.png");
}
.icon-more {
  background-image: url("../images/icon-more@3x.png");
}
.icon-pen {
  background-image: url("../images/icon-pen@3x.png");
}
.icon-all {
  background-image: url("../../assets/images/all.png");
}
.icon-chosetime{
  background-image: url("../../assets/images/chosetime.png");
}
