@media only screen and (-webkit-min-device-pixel-ratio: 3),
  only screen and (-moz-min-device-pixel-ratio: 3),
  only screen and (-o-min-device-pixel-ratio: 3),
  only screen and (min-device-pixel-ratio: 3) {
  .logo-horizontal {
    background-image: url("../images/logo-horizontal@3x.png");
  }
  .rectangle24 {
    background-image: url("../images/Rectangle26@3x.png");
  }
  .icon-eye-close {
    background-image: url("../images/icon-eye-close@3x.png");
  }
  .icon-go {
    background-image: url("../images/icon-go@3x.png");
  }
  .font-jinrong {
    background-image: url("../images/font-jinrong@3x.png");
  }
  .font-xiaotiao {
    background-image: url("../images/font-xiaotiao@3x.png");
  }
  .icon-car {
    background-image: url("../images/icon-car@3x.png");
  }
  .icon-client {
    background-image: url("../images/icon-client@3x.png");
  }
  .icon-home {
    background-image: url("../images/icon-home@3x.png");
  }
  .icon-home-active {
    background-image: url("../images/icon-home-active@3x.png");
  }
  .icon-search {
    background-image: url("../images/icon-search@3x.png");
  }
  .icon-search-active {
    background-image: url("../images/icon-search-active@3x.png");
  }
  .icon-system {
    background-image: url("../images/icon-system@3x.png");
  }
  .icon-system-active {
    background-image: url("../images/icon-system-active@3x.png");
  }
  .icon-user {
    background-image: url("../images/icon-user@3x.png");
  }
  .icon-user-active {
    background-image: url("../images/icon-user-active@3x.png");
  }
}
